/* Base fonts and reset */
body {
  font-family: 'Karla', sans-serif;
  font-size: 28px;
  line-height: 1.5;

  margin: 0;
}

/* Display font */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

/* Header Section  */
header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  
  /* Full viewport image */
  height: 100vh;
  margin: 0;
  
  /* Fancy hero image */
  border-bottom: 3px solid midnightblue;
  background-color: rebeccapurple;
  background-image: 
    url('../images/hero-image.jpg'),
    linear-gradient(white, black);
  background-size: cover;
  background-position: center;
  background-blend-mode: hard-light;
}

header h1 {
  font-variant: small-caps;
}

/* CTA card */
.wrapper {
  max-width: 30ch;
  padding: 3rem;
  margin: 2rem;

  /* Blur effect to make text readable on background */
  box-shadow: 0 0 5px 10px rgb(255, 255, 255,.5);
  backdrop-filter: blur(5px);
  background-color: rgb(255, 255, 255,.5);
}

.wrapper a, .wrapper a:visited {
  /* Make it obviously clickable */
  display: block;
  width: max-content;
  padding: 1rem;

  text-decoration: none;

  background-color: black;
  color: white;
}

.wrapper a:hover {
  background-color: orange;
  color: rebeccapurple;
}

/* Adjust layout for wide screens */
@media screen and (min-width: 1300px) {
  .wrapper {
    margin-right: 20vw;
  }
}
